<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plitka">
            <h2><span jhiTranslate="plitkashopApp.plitka.detail.title">Plitka</span> {{plitka.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plitkashopApp.plitka.name">Name</span></dt>
                <dd>
                    <span>{{plitka.name}}</span>
                </dd>
                <dt><span jhiTranslate="plitkashopApp.plitka.price">Price</span></dt>
                <dd>
                    <span>{{plitka.price}}</span>
                </dd>
                <dt><span jhiTranslate="plitkashopApp.plitka.color">Color</span></dt>
                <dd>
                    <span>{{plitka.color}}</span>
                </dd>
                <dt><span jhiTranslate="plitkashopApp.plitka.material">Material</span></dt>
                <dd>
                    <span>{{plitka.material}}</span>
                </dd>
                <dt><span jhiTranslate="plitkashopApp.plitka.size">Size</span></dt>
                <dd>
                    <span>{{plitka.size}}</span>
                </dd>
                <dt><span jhiTranslate="plitkashopApp.plitka.shopAddress">Shop Address</span></dt>
                <dd>
                    <span>{{plitka.shopAddress}}</span>
                </dd>
                <dt><span jhiTranslate="plitkashopApp.plitka.count">Count</span></dt>
                <dd>
                    <span>{{plitka.count}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plitka', plitka.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
