<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="otzyvi">
            <h2><span jhiTranslate="plitkashopApp.otzyvi.detail.title">Otzyvi</span> {{otzyvi.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plitkashopApp.otzyvi.clientFio">Client Fio</span></dt>
                <dd>
                    <span>{{otzyvi.clientFio}}</span>
                </dd>
                <dt><span jhiTranslate="plitkashopApp.otzyvi.text">Text</span></dt>
                <dd>
                    <span>{{otzyvi.text}}</span>
                </dd>
                <dt><span jhiTranslate="plitkashopApp.otzyvi.itemName">Item Name</span></dt>
                <dd>
                    <span>{{otzyvi.itemName}}</span>
                </dd>
                <dt><span jhiTranslate="plitkashopApp.otzyvi.date">Date</span></dt>
                <dd>
                    <span>{{otzyvi.date}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/otzyvi', otzyvi.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
